{% extends "profile/base.html" %}
{% block title %}friends{% endblock %}
				<!-- Main -->
{% block content %}

							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Arkadaslar</a></h2>
										<p>Agini Genislet..</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-10-18">Toplam Arkadas Sayasi</time>
										<a href="#" class="author"><span class="name">x</span></a>
									</div>
								</header>


								<section>
								<div>
									<h2>Arkadas Ekle - Sil - Duzenle</h2>
									 <form  role="form" action="{{ url_for('site.friend') }}" id="ArkadasEkleme" method="post">
							            <h3>Arkadas Ekle</h3>
							            <div>
							                <label for="FriendName">Name</label>
							                <input type="text"  id="FriendName" name="FriendName" placeholder="FriendName">
							            </div>
							            <div>
							                <label for="FriendSurname">Surname</label>
							                <input type="text"  id="FriendSurname" name="FriendSurname" placeholder="FriendSurname">
							            </div>
											<input type="submit" name = "submit" value = "Ekle" >

							        </form>
							        <form  role="form" action="{{ url_for('site.friend') }}" id="ArkadasSilme" method="post">
							             <h3>Arkadas Sil</h3>
							             <div>
							                <label for="FriendID">Friend ID</label>
							                <input type="text"  id="FriendID" name="FriendID" placeholder="FriendID">
							            </div>
							            <input type="submit" name = "submit" value = "Sil" >
							        </form>
							        <form  role="form" action="{{ url_for('site.friend') }}" id="ArkadasDuzenleme" method="post">
							            <h3>Arkadas Duzenle</h3>
							            <div >
							                <label for="FriendID">arkadas id si</label>
							                <input type="text" id="FriendID" name="FriendID" placeholder="FriendID">
							            </div>
							            <div>
							                <label for="FriendName"> yeni isim</label>
							                <input type="text" class="form-control" id="FriendName" name="FriendName" placeholder="FriendName">
							            </div>
							            <div >
							                <label for="FriendSurname">yeni soyisim</label>
							                <input type="text" class="form-control" id="FriendSurname" name="FriendSurname" placeholder="FriendSurname">
							            </div>

							            <input type="submit" name = "submit" value = "Duzenle" >
							        </form>
							         <h2> Arkadas Listesi </h2>
 										<ul>
								        {% for arkadas in arkadaslar %}
								            <li>
								                <div>
								                    <p>name: {{ arkadas[0] }}   |||  surname: {{ arkadas[1] }}  |||  id: {{ arkadas[2] }}</p>
 													<br/>
								                    <br/>
								                </div>
								            </li>
								            <p> ------------------------------  </p>
								        {% endfor %}

								    </ul>

					            	 </div>
					            	 <a  href= "{{ url_for('site.friend_listing') }}"  role="button"> Tum arkadas listesi</a>


								</section>

							</article>

					{% endblock %}
					{% block menu %}

									<!-- Sidebar -->

											<!-- Intro -->


					{% endblock %}
											<!-- Footer -->