<!DOCTYPE HTML>
<html lang="en">
	<head>
			<meta charset="utf-8" />
		<title>{% block title %}{% endblock %} - BeeLink | Dünya ile bağlantı kur | BeeLink'le</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="profile/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{url_for('static',filename='profile/future-imperfect/assets/css/main.css')}}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">BeeLink</a></h1>
						<nav class="links">
							<ul>
								<li><a href="{{url_for('site.signed_in')}}">Anasayfa</a></li>
								<li><a href="{{url_for('site.profile')}}">Profil</a></li>
								<li><a href="{{url_for('site.usernamefr_requests')}}">Ağım</a></li>
								<li><a href="#">İşler</a></li>
								<li><a href="#">İlgi Alanları</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Arama" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bell" href="#menu">Bildirim</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Arkadaşlık -->
					<section id="menu">
							<section>
								<ul class="actions vertical">
									<li><a href="{{url_for('site.usernamefr_requests')}}" class="button big fit">Ağını Genişlet</br><p>Arkadaşlık İstekleri</p></a></li>
								</ul>
							</section>
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Mert ARI</h3>
											<p>İstanbul Teknik Üniversitesi</p>
										</a>
										<a href="#" class="icon fa-check"> Kabul Et</a>
										<a href="#" class="icon fa-remove"> Reddet</a>
									</li>
									<li>
										<a href="#">
											<h3>Eyüp Ergin</h3>
											<p>Boğaziçi Üniversitesi</p>
										</a>
										<a href="#" class="icon fa-check"> Kabul Et</a>
										<a href="#" class="icon fa-remove"> Reddet</a>
									</li>
								</ul>


								<ul class="actions vertical">
									<li><a href="{{url_for('site.personel_message_request')}}" class="button big fit">Mesajlar</br>Gelen Kutusu(1)</a></li>
								</ul>

							</section>

							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Hayati Enes BASAT</h3>
											<p>Kanka Nasılsın, Nerelerdesin, neler yapıyorsun?</p>
										</a>
									</li>
								</ul>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Bildirimler</br>Etkileşim</a></li>
								</ul>

							</section>

							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Furkan Artunç</h3>
											<p>"Güzel gören.." ile başlayan paylaşımını Beğendi.</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Ali Kadam</h3>
											<p>Profil CV 'ni Beğendi.</p>
										</a>
									</li>
								</ul>

							</section>
					</section>

				<!-- Main -->
					<div id="main">
			{% block content %} {% endblock %}
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->

						<!-- Mini Posts -->

						<!-- Posts List -->

						<!-- About -->

						{% block menu %} {% endblock %}

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; 2016, BeeLink. Tüm Hakları Saklıdır.<a href="http://itucsdb1608.mybluemix.net/">BeeLink Teams</a>.</p>
							</section>

					</section>


			</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/util.js')}}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/main.js')}}"></script>

	</body>
</html>
