<!DOCTYPE HTML>
<html>
	<head>
		<title>BeeLink - Dünya ile bağlantı kur | BeeLink'le</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="profile/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{url_for('static',filename='profile/future-imperfect/assets/css/main.css')}}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">BeeLink</a></h1>
						<nav class="links">
							<ul>
								<li><a href="{{url_for('app.signed_in')}}">Anasayfa</a></li>
								<li><a href="{{url_for('app.profile')}}">Profil</a></li>
								<li><a href="#">Ağım</a></li>
								<li><a href="#">İşler</a></li>
								<li><a href="#">İlgi Alanları</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Arama" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bell" href="#menu">Bildirim</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Arkadaşlık -->
					<section id="menu">
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Ağını Genişlet</br><p>Arkadaşlık İstekleri</p></a></li>
								</ul>
							</section>
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Mert ARI</h3>
											<p>İstanbul Teknik Üniversitesi</p>
										</a>
										<a href="#" class="icon fa-check"> Kabul Et</a>
										<a href="#" class="icon fa-remove"> Reddet</a>
									</li>
									<li>
										<a href="#">
											<h3>Eyüp Ergin</h3>
											<p>Boğaziçi Üniversitesi</p>
										</a>
										<a href="#" class="icon fa-check"> Kabul Et</a>
										<a href="#" class="icon fa-remove"> Reddet</a>
									</li>
								</ul>


								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Mesajlar</br>Gelen Kutusu(1)</a></li>
								</ul>

							</section>

							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Hayati Enes BASAT</h3>
											<p>Kanka Nasılsın, Nerelerdesin, neler yapıyorsun?</p>
										</a>
									</li>
								</ul>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Bildirimler</br>Etkileşim</a></li>
								</ul>

							</section>

							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Furkan Artunç</h3>
											<p>"Güzel gören.." ile başlayan paylaşımını Beğendi.</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Ali Kadam</h3>
											<p>Profil CV 'ni Beğendi.</p>
										</a>
									</li>
								</ul>

							</section>
					</section>

				<!-- Main -->
					<div id="main">

								<li><a href="#asdasd" class="button big next">Sende Paylaş</a></li>


-

						<!-- Post -->
							<article class="post">
								<p>Önce mevcut yapıyı anlamak, hedefleri öğrenmek, problemlere odaklanmak, ve bu zemine göre bir yapı önermek.</p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Tuncay Demirbaş</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">18.10.2016</a></li>
										<li><a href="#" class="icon fa-heart">5</a></li>
										<li><a href="#" class="icon fa-remove">0</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<p>Derler ki: "Güzel gören güzel düşünür, güzel düşünen hayatından lezzet alır."</p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Ali Kadam</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar2.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">17.10.2016</a></li>
										<li><a href="#" class="icon fa-heart">8</a></li>
										<li><a href="#" class="icon fa-remove">1</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<p>"..Bilginin kendisi Güçtür..."</p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Hayati Enes Basat</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar3.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">12.10.2016</a></li>
										<li><a href="#" class="icon fa-heart">8</a></li>
										<li><a href="#" class="icon fa-remove">1</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<p>Derler ki: "Güzel gören güzel düşünür, güzel düşünen hayatından lezzet alır."</p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Tuncay Demirbaş</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">17.10.2016</a></li>
										<li><a href="#" class="icon fa-heart">8</a></li>
										<li><a href="#" class="icon fa-remove">1</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<p>Derler ki: "Güzel gören güzel düşünür, güzel düşünen hayatından lezzet alır."</p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Tuncay Demirbaş</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">17.10.2016</a></li>
										<li><a href="#" class="icon fa-heart">8</a></li>
										<li><a href="#" class="icon fa-remove">1</a></li>
									</ul>
								</footer>
							</article>

						<!-- Pagination -->

							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>
						<section id ="asdasd">

					<div class="box">
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="subject" id="subject" value="" placeholder="Konu" />
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<textarea name="message" id="message" placeholder="Mesajınızı Giriniz" rows="2"></textarea>
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-right">
										<li><input type="submit" value="Paylaş" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>


						</section>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{{url_for('static',filename='profile/future-imperfect/images/logo.jpg')}}" alt="" /></a>
								<header>
									<h2>BeeLink PLATFORMU</h2>
									<p>Senin Yaşamın, Senin Kariyerin..</a></p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">İstanbul Teknik Üniversitesi</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/apic04.jpg')}}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Orta Doğu Üniversitesi</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/apic05.jpg')}}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Boğaziçi Üniversitesi</a></h3>
												<time class="published" datetime="2015-10-18">October 18, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/apic06.jpg')}}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Bikent Üniversitesi</a></h3>
												<time class="published" datetime="2015-10-17">October 17, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/apic05.jpg')}}" alt="" /></a>
										</article>

								</div>
							</section>

						<!-- Posts List -->
							<section>
								<ul class="posts">
									<li>
									<h2>En Popüler Profiller</h2>
										<article>
											<header>
												<h3><a href="#">Tuncay Demirbaş</a></h3>
												<time class="published" datetime="2015-10-20">İstanbul Teknik Üniversitesi</time>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">Ahmet Kaçmaz</a></h3>
												<time class="published" datetime="2015-10-20">Marmara Üniversitesi</time>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic09.jpg')}}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">Furkan Artunç</a></h3>
												<time class="published" datetime="2015-10-20">İstanbul Teknik Üniversitesi</time>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic10.jpg')}}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">İbrahim Dolapçı</a></h3>
												<time class="published" datetime="2015-10-20">İstanbul Teknik Üniversitesi</time>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic11.jpg')}}" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">Eyüp Ergin</a></h3>
												<time class="published" datetime="2015-10-20">Boğaziçi Üniversitesi</time>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic12.jpg')}}" alt="" /></a>
										</article>
									</li>
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>Hakkımızda</h2>
								<p>Profesyonel kimliğinizi yönetin. Profesyonel ağınızı kurun ve ağınızla bağlantıya geçin. Bilgi birikimlerine, içgörülere ve fırsatlara erişin.</p>
								<ul class="actions">
									<li><a href="#" class="button">Daha Fazla</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; 2016, BeeLink. Tüm Hakları Saklıdır.<a href="http://itucsdb1608.mybluemix.net/">BeeLink Teams</a>.</p>
							</section>

					</section>


			</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/util.js')}}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{url_for('static',filename='profile/future-imperfect/assets/js/main.js')}}"></script>

	</body>
</html>
