{% extends "profile/base.html" %}
{% block title %}Mesajlar{% endblock %}
				<!-- Main -->
{% block content %}

								<h2>Gelen Kutusu</h2>






						<!-- Pagination -->

							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>
						<div class="box">
													<form  role="form" action="{{ url_for('site.personal_send') }}" id="yeni" method="post">
														<div class="row uniform 50%">
															<div class="12u">
																<input type="text"  id="UserName" name="UserName" placeholder="to UserName">
															</div>
														</div>
														<div class="row uniform 50%">
															<div class="12u">
																<input type="text"  id="PersonalContent" name="PersonalContent" placeholder="PersonalContent">
															</div>
														</div>
														<div class="row uniform">
															<div class="12u">
																<ul class="actions align-right">
																	<input type="submit"   name = "submit"  value = "Add">
																</ul>
															</div>
														</div>
													</form>
													<h2> Mesaj Listesi </h2>
													<a  href= "{{ url_for('site.mesaj_listing') }}"  role="button"> Tum Mesaj listesi</a>
 										<ul>
								        {% for mesaj in mesajlar %}
								            <li>
								                <div>
								                    <p>Username: {{ mesaj[0] }}    --->   Mesaj: {{ mesaj[1] }}</p>
								                    <form  role="form" action="{{ url_for('site.update_message_1') }}" id="yeni" method="post">
														<div class="row uniform 50%">
															<div class="12u">
																<input type="text"  id="UserName" name="UserName" placeholder="to UserName">
															</div>
														</div>
														<div class="row uniform 50%">
															<div class="12u">
																<input type="text"  id="PersonalContent" name="PersonalContent" placeholder="PersonalContent">
															</div>
														</div>
														<div class="row uniform">
															<div class="12u">
																<ul class="actions align-right">
																	<input type="submit"   name = "submit"  value = "Update">
																</ul>
															</div>
														</div>
													</form>
													<form  role="form" action="{{ url_for('site.delete_personel_message') }}" id="yeni" method="post">
														<div class="row uniform 50%">
															<div class="12u">
																<input type="text"  id="UserName" name="UserName" placeholder="to UserName">
															</div>
														</div>

														<div class="row uniform">
															<div class="12u">
																<ul class="actions align-right">
																	<input type="submit"   name = "submit"  value = "Delete">
																</ul>
															</div>
														</div>
													</form>
 													<br/>
								                    <br/>
								                </div>
								            </li>
								            <p> ------------------------------  </p>
								        {% endfor %}

								    </ul>

					            	 </div>



{% endblock %}
{% block menu %}


				<!-- Sidebar -->

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{{url_for('static',filename='profile/future-imperfect/images/logo.jpg')}}" alt="" /></a>
								<header>
									<h2>BeeLink PLATFORMU</h2>
									<p>Senin Yaþamýn, Senin Kariyerin..</a></p>
									<a href="#asdasd" class="button icon fa-save">Mesaj Gönder</a>
								</header>

							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Ali Kadam</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar2.jpg')}}" alt="" /></a>
											</header>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Emre Köse</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar1.jpg')}}" alt="" /></a>
											</header>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Mert Arý</a></h3>
												<time class="published" datetime="2015-10-18">October 18, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar3.jpg')}}" alt="" /></a>
											</header>
										</article>

								</div>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>Hakkýmýzda</h2>
								<p>Profesyonel kimliðinizi yönetin. Profesyonel aðýnýzý kurun ve aðýnýzla baðlantýya geçin. Bilgi birikimlerine, içgörülere ve fýrsatlara eriþin.</p>
								<ul class="actions">
									<li><a href="#" class="button">Daha Fazla</a></li>
								</ul>
							</section>

{% endblock %}