{% extends "profile/base.html" %}
{% block title %}messages{% endblock %}
				<!-- Main -->
{% block content %}

							<article class="post">

								<section>
								<div>

									 <form  role="form" action="{{ url_for('site.take_username') }}" id="User" method="post">
							            <h3>Enter your user name:</h3>
							            <p> veritabaninda sadece mert@ var o yuzden <b>mert@</b> giriniz </p>

							            <div>
							                <label for="Username">User name</label>
							                <input type="text"  id="Username" name="Username" placeholder="Username">
							            </div>

											<input type="submit" name = "submit" value = "Send" >

							        </form>


					            	 </div>


								</section>

							</article>

					{% endblock %}
