{% extends "profile/base.html" %}
{% block title %}Mesajlar{% endblock %}
				<!-- Main -->
{% block content %}

								<h2>Gelen Kutusu</h2>


-

						<!-- Post -->
							<article class="post">
								<p>Neredesin nasılsın ne yapıyorsun</p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Tuncay Demirbaş</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">18.10.2016</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<p>okula geliyor musun ? </p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Ali Kadam</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar2.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">17.10.2016</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<p>gel okula ders çalışalım.. </p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Tuncay Demirbaş</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">12.10.2016</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<p>Tamam geliyorum..</p>
								<footer>
									<ul class="actions">
										<li>
								<a href="#" class="author">
								<span class="name">Ali Kadam</span>
								<img src="{{url_for('static',filename='profile/future-imperfect/images/avatar2.jpg')}}" alt="" /></a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">17.10.2016</a></li>
									</ul>
								</footer>
							</article>

						<!-- Pagination -->

							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>
						<section id ="asdasd">

					<div class="box">
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="subject" id="subject" value="" placeholder="Konu" />
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<textarea name="message" id="message" placeholder="Mesajınızı Giriniz" rows="2"></textarea>
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-right">
										<li><input type="submit" value="Mesaj Gönder" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>


						</section>

{% endblock %}
{% block menu %}


				<!-- Sidebar -->

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{{url_for('static',filename='profile/future-imperfect/images/logo.jpg')}}" alt="" /></a>
								<header>
									<h2>BeeLink PLATFORMU</h2>
									<p>Senin Yaşamın, Senin Kariyerin..</a></p>
									<a href="#asdasd" class="button icon fa-save">Mesaj Gönder</a>
								</header>

							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Ali Kadam</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar2.jpg')}}" alt="" /></a>
											</header>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Emre Köse</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar1.jpg')}}" alt="" /></a>
											</header>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Mert Arı</a></h3>
												<time class="published" datetime="2015-10-18">October 18, 2016</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar3.jpg')}}" alt="" /></a>
											</header>
										</article>

								</div>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>Hakkımızda</h2>
								<p>Profesyonel kimliğinizi yönetin. Profesyonel ağınızı kurun ve ağınızla bağlantıya geçin. Bilgi birikimlerine, içgörülere ve fırsatlara erişin.</p>
								<ul class="actions">
									<li><a href="#" class="button">Daha Fazla</a></li>
								</ul>
							</section>

{% endblock %}
						<!-- Footer -->