{% extends "profile/base.html" %}
{% block title %}Profil{% endblock %}
				<!-- Main -->
{% block content %}
				<!-- Main -->
 						{% for profile in profile_accountall%}
							{% if profile %}
							<article class="post">

								<section>
									<h3>Hakkımda</h3>
									<p>{{profile[2]}}
									</br><code>{{profile[3]}}</code> </p>
									<hr />
									<h2>{{profile[4]}}</h2>
									<h3>{{profile[5]}}</h3>
									<h4>{{profile[6]}}</h4>
									<hr />
									<h4>Alıntı (Sevİlen söz)</h4>
									<blockquote>{{profile[7]}}</blockquote>
								</section>

								<section>
									<h3>Hobİler ve İlgİ Alanları</h3>
									<div class="row">
										<div class="6u 12u$(medium)">
											<h4>Hobiler</h4>
											{% for profilee in profile_hobbyall%}
											<ul  class="alt">
												<li>{{profilee[1]}}</li>
											</ul>
											{%endfor%}
										</div>
										<div class="6u$ 12u$(medium)">
											<h4>İlgi Alanları</h4>
											{% for profileee in profile_ilgiall%}
											<ul  class="alt">
												<li>{{profileee[1]}}</li>
											</ul>
											{%endfor%}
										</div>
									</div>
								</section>

								<section>
									<h3>LİSE EĞİTİM BİLGİSİ</h3>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Tür</th>
													<th>Ad</th>
													<th>Ortalama</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Lise</td>
													<td>{{profile[8]}}</td>
													<td>{{profile[9]}}</td>
												</tr>
											</tbody>
										</table>
									</div>


								</section>
								<p>

<div class="12u$"><span class="image fit"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic02.jpg')}}" alt=""  /></span></div>									<h3>BLOGLAMA - <a href="{{url_for('site.blog')}}" class="button icon fa-save">Blog Ekle</a></h3>
 						{% for profile in profile_blog%}

								<section>


									<p>
									<h4>{{profile[0]}}- {{profile[2]}} - {{profile[1]}} yazdı</h4>
									{{profile[3]}}
									</p>

								</section>

					   {% endfor %}
							</article>
  						{% endif %}
					   {% endfor %}

{% endblock %}


{% block menu %}

 						{% for profile in profile_account%}
							{% if profile %}
				<!-- Sidebar -->

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="losgo"><img src="{{profile[1]}}" alt="BeeLink"  height="250" width="250" /></a>

								<header>
									<h3>{{profile[2]}} {{profile[3]}}</h3>
									<p>{{profile[5]}}</br>{{profile[6]}}, {{profile[7]}}-{{profile[8]}}</a></p>
									<a href="{{url_for('site.admin_home')}}" class="button icon fa-save">Profili Düzenle</a>
											<ul class="icons">
												<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
											</ul>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Yaşadığı Şehir</a></h3>
												<time class="published" datetime="2015-10-18">{{profile[10]}}</time>
												<h3><a href="#">E-posta Adresi</a></h3>
												<time class="published" datetime="2015-10-18">{{profile[11]}}</time>
												<h3><a href="#">Web Sitesi</a></h3>
												<time class="published" datetime="2015-10-18">{{profile[12]}}</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar3.jpg')}}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic06.jpg')}}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Cinsiyet</a></h3>
												<time class="published" datetime="2015-10-20">{{profile[4]}}</time>
												<h3><a href="#">Doğum Tarihi</a></h3>
												<time class="published" datetime="2015-10-20">{{profile[9]}}</time>
												<h3><a href="#">Kullanıcı Adı</a></h3>
												<time class="published" datetime="2015-10-20">{{profile[0]}}</time>
												<a href="#" class="author"><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar3.jpg')}}" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic04.jpg')}}" alt="" /></a>
										</article>

									<!-- Mini Post -->



									<!-- Mini Post -->
										<article class="mini-post">
											<header>
											<ul class="icons">
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic08.jpg')}}" title="Ahmet" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic09.jpg')}}" title="Ali" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic10.jpg')}}" title="Ömer" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic10.jpg')}}" title="Furkan" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic08.jpg')}}" title="Ahmet" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic09.jpg')}}" title="Ali" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic10.jpg')}}" title="Ömer" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar3.jpg')}}" title="Furkan" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic08.jpg')}}" title="Ahmet" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic09.jpg')}}" title="Ali" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/pic10.jpg')}}" title="Ömer" /></a></li>
												<li><a href="#" class=""><img src="{{url_for('static',filename='profile/future-imperfect/images/avatar3.jpg')}}" title="Furkan" /></a></li>

											</ul>
											</header>
											<a href="#" class="image"><img src="{{url_for('static',filename='profile/future-imperfect/images/pic07.jpg')}}" alt="" /></a>
										</article>

								</div>
							</section>

						<!-- Posts List -->

						<!-- About -->
							<section class="blurb">
								<h2>Hakkımızda</h2>
								<p>Profesyonel kimliğinizi yönetin. Profesyonel ağınızı kurun ve ağınızla bağlantıya geçin. Bilgi birikimlerine, içgörülere ve fırsatlara erişin.</p>
								<ul class="actions">
									<li><a href="#" class="button">Daha Fazla</a></li>
								</ul>
							</section>
  						{% endif %}
					   {% endfor %}

{% endblock %}
						<!-- Footer -->