{% extends "admin/base.html" %}
{% block title %}Anasayfa{% endblock %}
				<!-- Main -->
{% block content %}
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="title-block">
                                            <h4 class="title">
            				İstatistikler
            			</h4>
                                            <p class="title-description"> Üye Bilgileri ve Bazı Bilgiler <a href="{{url_for('site.profile')}}">
            					Profil Sayfanız ile ilgili
            				</a> </p>
                                        </div>
                                        <div class="row row-sm stats-container">
                                            <div class="col-xs-12 col-sm-6 stat-col">
                                                <div class="stat-icon"> <i class="fa fa-rocket"></i> </div>
                                                <div class="stat">
                                                    <div class="value"> 54 </div>
                                                    <div class="name"> Kayıtlı Üye Sayısı</div>
                                                </div> <progress class="progress stat-progress" value="75" max="100">
            					<div class="progress">
            						<span class="progress-bar" style="width: 75%;"></span>
            					</div>
            				</progress> </div>
                                            <div class="col-xs-12 col-sm-6 stat-col">
                                                <div class="stat-icon"> <i class="fa fa-shopping-cart"></i> </div>
                                                <div class="stat">
                                                    <div class="value"> 38 </div>
                                                    <div class="name"> Aktif Üye Sayısı </div>
                                                </div> <progress class="progress stat-progress" value="25" max="100">
            					<div class="progress">
            						<span class="progress-bar" style="width: 25%;"></span>
            					</div>
            				</progress> </div>
                                            <div class="col-xs-12 col-sm-6  stat-col">
                                                <div class="stat-icon"> <i class="fa fa-line-chart"></i> </div>
                                                <div class="stat">
                                                    <div class="value"> 15 </div>
                                                    <div class="name"> Arkadaş Sayınız </div>
                                                </div> <progress class="progress stat-progress" value="60" max="100">
            					<div class="progress">
            						<span class="progress-bar" style="width: 60%;"></span>
            					</div>
            				</progress> </div>
                                            <div class="col-xs-12 col-sm-6  stat-col">
                                                <div class="stat-icon"> <i class="fa fa-users"></i> </div>
                                                <div class="stat">
                                                    <div class="value"> 12 </div>
                                                    <div class="name"> Toplam Paylaşım </div>
                                                </div> <progress class="progress stat-progress" value="34" max="100">
            					<div class="progress">
            						<span class="progress-bar" style="width: 34%;"></span>
            					</div>
            				</progress> </div>
                                            <div class="col-xs-12 col-sm-6  stat-col">
                                                <div class="stat-icon"> <i class="fa fa-list-alt"></i> </div>
                                                <div class="stat">
                                                    <div class="value"> 158 </div>
                                                    <div class="name"> Profil Görüntülenmesi </div>
                                                </div> <progress class="progress stat-progress" value="49" max="100">
            					<div class="progress">
            						<span class="progress-bar" style="width: 49%;"></span>
            					</div>
            				</progress> </div>
                                            <div class="col-xs-12 col-sm-6 stat-col">
                                                <div class="stat-icon"> <i class="fa fa-dollar"></i> </div>
                                                <div class="stat">
                                                    <div class="value"> %82 </div>
                                                    <div class="name"> Popülariteniz </div>
                                                </div> <progress class="progress stat-progress" value="82" max="100">
            					<div class="progress">
            						<span class="progress-bar" style="width: 15%;"></span>
            					</div>
            				</progress> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card sameheight-item">
                                    <div class="card-block">
                                        <!-- Nav tabs -->
                                        <div class="card-title-block">
                                            <h3 class="title">
	      					Hoşgeldiniz | BeeLink'le
	      				</h3> </div>
                                        <ul class="nav nav-tabs nav-tabs-bordered">
                                            <li class="nav-item"> <a href="#home" class="nav-link active" data-target="#home" data-toggle="tab" aria-controls="home" role="tab">BeeLink</a> </li>
                                            <li class="nav-item"> <a href="#profile" class="nav-link" data-target="#profile" aria-controls="profile" data-toggle="tab" role="tab">Profil</a> </li>
                                            <li class="nav-item"> <a href="" class="nav-link" data-target="#messages" aria-controls="messages" data-toggle="tab" role="tab">Ayarlar</a> </li>
                                            <li class="nav-item"> <a href="" class="nav-link" data-target="#settings" aria-controls="settings" data-toggle="tab" role="tab">Mesajımız</a> </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content tabs-bordered">
                                            <div class="tab-pane fade in active" id="home">
                                                <h4>Merhaba</h4>
                                                <p>Hey Sen, :) </br>Buralarda yenisin galiba, aramıza hoş geldin.. </br>Yönetim panelinden hesabınla ile ilgili gerekli düzenlemeleri ayarlamaları yapabilirsin.. </br>İyi kullanımlar, </br>Durma BeeLink'le....</br></p>
                                            </div>
                                            <div class="tab-pane fade" id="profile">
                                                <h4>Profil</h4>
                                                <p>Profil sayfanın tasarımı en güzel şekilde yap tüm bilgileri eksiksiz doldur, ve BeeLink fırsatlarını kaçırma..</p>
                                            </div>
                                            <div class="tab-pane fade" id="messages">
                                                <h4>Destek</h4>
                                                <p>Kafanın karıştığı yerde, hemen BeeLink Takımı ile iletişime geç, sizin için gerekli ayarlamaları yapacağız</p>
                                            </div>
                                            <div class="tab-pane fade" id="settings">
                                                <h4>BeeLink Takımı</h4>
                                                <p>Takım olarak siz değerli üyelerimize en mükemmel hizmeti sunabilmek için hizmetinize amadeyiz :) </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-block -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </section>

{% endblock %}
