{% extends "admin/base.html" %}
{% block title %}Kişisel Bilgiler{% endblock %}
				<!-- Main -->
{% block content %}
                    <div class="title-block">
                        <h3 class="title">
		Profil Bilgileri
	</h3>
                        <p class="title-description"> BeeLink'lemeye Hazır ol! </p>
                    </div>
                    <div class="subtitle-block">
                        <h3 class="subtitle">
		Lütfen Eksiksiz Tüm alanları Doldurun..
	</h3> </div>
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col-md-6">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title">
						Kişisel Bilgiler | Genel
					</h3> </div>
                                    <form role="form">
                                        <div class="form-group has-success">
											<div class="row form-group">
												<div class="col-xs-6">
											<label class="control-label">Adınız</label>
											<input type="text" class="form-control underlined" placeholder="Adınız Giriniz">
												</div>
												<div class="col-xs-6">
											<label class="control-label">Soyadınız</label>
											<input type="text" class="form-control underlined" placeholder="Soyadınızı Giriniz">
												</div>
											</div>
										</div>
                                <div class="form-group"> <label class="control-label">Cinsiyet</label>
                                    <div> <label>
			                    <input class="radio squared"  name="squared-radios" checked="checked" type="radio">
			                    <span>Bay</span>
			                </label> <label>
			                    <input class="radio squared"  name="squared-radios" type="radio">
			                    <span>Bayan</span>
			                </label> </div>
                                </div>
										<div class="form-group has-success"> <label class="control-label">Üniversite</label>
                                <div class="form-group">
								<select class="form-control">
									<option>İstanbul Teknik Üniversitesi</option>
									<option>Boğaziçi Üniversitesi</option>
									<option>Orta Doğu Teknik Üniversitesi</option>
									<option>Bilkent Üniversitesi</option>
								</select> </div>

										</div>
										<div class="form-group has-success"> <label class="control-label">Bölüm</label> <input type="text" class="form-control underlined"> </div>
                                        <div class="form-group has-success">
											<div class="row form-group">
												<div class="col-xs-6">
											<label class="control-label">Giriş Yılı</label>
											<input type="text" class="form-control underlined">
												</div>
												<div class="col-xs-6">
											<label class="control-label">Bitiş Yılı(Beklenilen)</label>
											<input type="text" class="form-control underlined">
												</div>
											</div>
										</div>
										<div class="form-group has-success"> <label class="control-label">Doğum Yılınız</label> <input type="text" class="form-control underlined"> </div>
										<div class="form-group has-success"> <label class="control-label">Yaşadığınız Şehir</label> <input type="text" class="form-control underlined"> </div>
										<div class="form-group has-success"> <label class="control-label">E-posta Adresiniz</label> <input type="text" class="form-control underlined"> </div>
										<div class="form-group has-success"> <label class="control-label">Web Siteniz</label> <input type="text" class="form-control underlined"> </div>
										<div class="form-group"> <button type="submit" class="btn btn-primary">Güncelle</button> </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title">
						Kişisel Bilgiler | Tanıt Kendini
					</h3> </div>
                                    <form>
                                        <div class="form-group"> <label class="control-label">Hakkımda</label> <textarea rows="3" class="form-control boxed"></textarea> </div>

                                        <div class="form-group"> <label class="control-label">Kodla anlat kendini</label> <input type="text" class="form-control boxed"> </div>
                                        <div class="form-group"> <label class="control-label">3 Kelimeyle özetle (En yüksek öncelikli ilk sırada)</label>
											<div class="row form-group">
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Birincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="İkincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Üçüncüsü">
												</div>
											</div>
										</div>
                                        <div class="form-group"> <label class="control-label">Sevdiğin Bir Söz</label> <textarea rows="3" class="form-control boxed"></textarea> </div>
                                        <div class="form-group"> <label class="control-label">Hobiler (6 Tane)</label>
											<div class="row form-group">
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Birincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="İkincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Üçüncüsü">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Dördüncüsü">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Beşincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Altıncısı">
												</div>
											</div>
										</div>

                                        <div class="form-group"> <label class="control-label">İlgi Alanları (6 Tane)</label>
											<div class="row form-group">
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Birincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="İkincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Üçüncüsü">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Dördüncüsü">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Beşincisi">
												</div>
												<div class="col-xs-4">

											<input type="text" class="form-control underlined" placeholder="Altıncısı">
												</div>
											</div>
										</div>
                                        <div class="form-group has-success">
										<label class="control-label">Eğitim Bilgileriniz</label>
											<div class="row form-group">
												<div class="col-xs-8">
											<label class="control-label">Lise</label>
											<input type="text" class="form-control underlined" placeholder="Lise Adını Giriniz">
												</div>
												<div class="col-xs-4">
											<label class="control-label">Ortalama</label>
											<input type="text" class="form-control underlined" placeholder="Ortalamanız">
												</div>
											</div>
											<div class="row form-group">
												<div class="col-xs-8">
											<label class="control-label">Lisans</label>
											<input type="text" class="form-control underlined" placeholder="Üniversitenizi Giriniz">
												</div>
												<div class="col-xs-4">
											<label class="control-label">Ortalama</label>
											<input type="text" class="form-control underlined" placeholder="Ortalamanız">
												</div>
											</div>
										</div>
										<div class="form-group"> <button type="submit" class="btn btn-primary">Güncelle</button> </div>
									</form>
                                </div>
                            </div>
                        </div>
                    </section>
{% endblock %}
