{% extends "admin/base.html" %}
{% block title %}Kişisel Bilgiler{% endblock %}
				<!-- Main -->
{% block content %}
                    <div class="title-block">
                        <h3 class="title">
		Profil Bilgileri
	</h3>
                        <p class="title-description"> BeeLink'lemeye Hazır ol! </p>
                    </div>
 						{% for profile in profile_account%}
							{% if profile %}
                    <div class="subtitle-block">
                        <h3 class="subtitle">
		Lütfen Eksiksiz Tüm alanları Doldurun..
	</h3> </div>
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col-md-6">
                                <div class="card card-block sameheight-item">
                                    <div class="title-block">
                                        <h3 class="title">
						Kişisel Bilgiler | Genel
					</h3> </div>
                                    <form role="form" action="" method="post" name="user_update">
                                    <input type="hidden" name="username" value="{{profile[0]}}">
                                        <div class="form-group has-success">
											<div class="row form-group">
												<div class="col-xs-6">
											<label class="control-label">Adınız</label>
											<input type="text" name="ad" class="form-control underlined" placeholder="Adınız Giriniz" value="{{profile[2]}}">
												</div>
												<div class="col-xs-6">
											<label class="control-label">Soyadınız</label>
											<input type="text" name="soyad"  class="form-control underlined" placeholder="Soyadınızı Giriniz" value="{{profile[3]}}">
												</div>
											</div>
										</div>
										<div class="form-group has-success"> <label class="control-label">Profil Resminiz (Yolu giriniz)</label>
										 <input type="text" name="resim"  class="form-control underlined" value="{{profile[1]}}"> </div>
                                <div class="form-group"> <label class="control-label">Cinsiyet</label>
                                    <div> <label>

			                    <input class="radio squared"  name="cinsiyet"
							{% if 'Bay' in profile %}
								checked="checked"
							{% endif %}
			                    type="radio" id="Bay" value="Bay">
			                    <span>Bay</span>
			                </label> <label>
			                    <input class="radio squared"  name="cinsiyet"
							{% if 'Bayan' in profile %}
								checked="checked"
							{% endif %}
			                    type="radio" id="Bayan" value="Bayan">
			                    <span>Bayan</span>
			                </label> </div>
                                </div>
										<div class="form-group has-success"> <label class="control-label">Üniversite</label>
                                <div class="form-group">
								<select class="form-control" name="universite">
									{%for uni in profile_university%}
										{%if (profile[5] == uni[1]) %}
											<option selected value = "{{uni[0]}}">{{uni[1]}}</option>
										{% else %}
											<option value = "{{uni[0]}}">{{uni[1]}}</option>
										{% endif %}
									{%endfor%}
								</select> </div>

										</div>
										<div class="form-group has-success"> <label class="control-label">Bölüm</label>
										 <input type="text" name="bolum" class="form-control underlined" value="{{profile[6]}}"> </div>
                                        <div class="form-group has-success">
											<div class="row form-group">
												<div class="col-xs-6">
											<label class="control-label">Giriş Yılı</label>
											<input type="text" name="giris" class="form-control underlined" value="{{profile[7]}}">
												</div>
												<div class="col-xs-6">
											<label class="control-label">Bitiş Yılı(Beklenilen)</label>
											<input type="text" name="bitis" class="form-control underlined" value="{{profile[8]}}">
												</div>
											</div>
										</div>
										<div class="form-group has-success"> <label class="control-label">Doğum Yılınız</label>
										<input type="text" name="dogum" class="form-control underlined" value="{{profile[9]}}"> </div>
										<div class="form-group has-success"> <label class="control-label">Yaşadığınız Şehir</label>
                                <div class="form-group">
								<select class="form-control" name="sehir">
									{%for city in profile_city%}
										{%if (profile[10] == city[1]) %}
											<option selected value = "{{city[0]}}">{{city[1]}}</option>
										{% else %}
											<option value = "{{city[0]}}">{{city[1]}}</option>
										{% endif %}
									{%endfor%}
								</select> </div>

										</div>
										<div class="form-group has-success"> <label class="control-label">E-posta Adresiniz</label>
										<input type="text" name="eposta" class="form-control underlined" value="{{profile[11]}}"> </div>
										<div class="form-group has-success"> <label class="control-label">Web Siteniz</label>
										<input type="text" name="web" class="form-control underlined" value="{{profile[12]}}"> </div>
										<div class="form-group">
										<button type="submit" name="update"  class="btn btn-primary">Güncelle</button> </div>
                                    </form>
                                </div>
                            </div>
  						{% endif %}
					   {% endfor %}
                        </div>
                    </section>
{% endblock %}
