body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #2B1AE9;
}

a {
  color: #4A2828;
  text-decoration: underline;
}

div#datetime {
  font-size: 70%;
  text-align: left;
}
