{% extends "base.html" %}
{% block title %}İletişim{% endblock %}
				<!-- Main -->
{% block content %}
	<table border="1">
	<tr>
	<th>Name</th>
	<th>Surname</th>
	<th>E-mail</th>
	<th>User name</th>
	<th>Password</th>
	<th>Delete</th>
	<th>Update</th>
	</tr>
	{% for i in records %}
		{% if i %}
			<tr>
			<td>{{i[0]}}</td>
			<td>{{i[1]}}</td>
			<td>{{i[2]}}</td>
			<td>{{i[3]}}</td>
			<td>{{i[4]}}</td>
			<td><a href= {{url_for('site.remove_user', user = i)}} name="delete">Delete</a></td>
			<td><a href= {{url_for('site.update_user', user = i)}} name="update">Update</a></td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>


{% endblock %}