{% extends "base.html" %}
{% block title %}İletişim{% endblock %}
				<!-- Main -->
{% block content %}

					<header>
						<h2>Yeni misin? Kaydol</h2>
						<p>BeeLink Dünyasına Hoş Geldiniz..</p>
					</header>
					<div class="box">
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)">
									<input type="text" name="name" id="name" value="" placeholder="Adınız">
								</div>
								<div class="6u 12u(mobilep)">
									<input type="email" name="email" id="email" value="" placeholder="Soyadınız">
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="subject" id="subject" value="" placeholder="E-posta Adresiniz">
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)">
									<input type="text" name="name" id="name" value="" placeholder="Parola">
								</div>
								<div class="6u 12u(mobilep)">
									<input type="email" name="email" id="email" value="" placeholder="Parola (Tekrar)">
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="subject" id="subject" value="" placeholder="Kullanıcı Adınız">
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-center">
										<li><input type="submit" value="Kaydol"></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
{% endblock %}