{% extends "base.html" %}
{% block title %}İletişim{% endblock %}
				<!-- Main -->
{% block content %}
					<header>
						<h2>Giriş Yap, BeeLink'le..</h2>
						<p>BeeLink Dünyasına Hoş Geldiniz..</p>
					</header>
					<div class="box">
						<form method="post" action="{{url_for('site.signed_in')}}">
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="username" id="subject" value="" placeholder="Kullanıcı Adınız" required autofocus>
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="password" id="subject" value="" placeholder="Parolanız" required autofocus>
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-center">
										<li><input type="submit" name="signin" value="Giriş Yap"></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
{% endblock %}