<!DOCTYPE HTML>
<html>
<head>
  <title>Welcome to BeeLink Worldwide - Make the World Connect</title>
  <meta name="description" content="BeeLink connection" />
  <meta name="keywords" content="BeeLink, connection, itu, Social network" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>


<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="home.html"><span class="logo_colour">BeeLink</span></a></h1>
          <h2>Make the World Connect</h2>

        </div>

			<span class="right"><img src="static/logo1.png" alt="example graphic" style="width:500px;height:130px" /></span>

      </div>

      <div id="menubar">

        <ul id="menu">

          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->

          <li class="selected"><a href="home.html">Home</a></li>

          <li><a href="#">About</a></li>

          <li><a href="#">ITU</a></li>

        </ul>

      </div>

    </div>

    <div id="content_header"></div>

    <div id="site_content">

      <div id="banner"></div>

	  <div id="sidebar_container">

        <div class="sidebar">

          <div class="sidebar_top"></div>

          <div class="sidebar_item">

            <!-- insert your sidebar items here -->

            <h3>Latest News</h3>

            <h4>BeeLink Website Launched</h4>

            <h5>{{ current_time }}</h5>

            <p>Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>

          </div>

          <div class="sidebar_base"></div>

        </div>

        <div class="sidebar">

          <div class="sidebar_top"></div>

          <div class="sidebar_item">

            <h3>Useful Links</h3>

            <ul>

              <li><a href="http://www.itu.edu.tr/">Istanbul Technical University</a></li>

              <li><a href="http://itucsdb1608.mybluemix.net/">BeeLink</a></li>

              <li><a href="https://github.com/itucsdb1608/itucsdb1608">BeeLink Github</a></li>

              <li><a href="#">Bee Friendly :)</a></li>

            </ul>

          </div>

          <div class="sidebar_base"></div>

        </div>

        <div class="sidebar">

          <div class="sidebar_top"></div>

          <div class="sidebar_item">

            <h3>A word..</h3>

              <p>

				<Q>Think... It's what to do when you don't know what to do...</Q>

				<BR> - <strong>Albert Einstein</strong>

              </p>



          </div>

          <div class="sidebar_base"></div>

        </div>

      </div>

      <div id="content">

        <!-- insert the page content here -->

        <h1> Link to Professional World</br> Join for free!</h1>

        <p>A lead generation tool built inside of a business network - BeeLink matches you with professionals who can bring you sales, advance your career, help grow your network, and more...</p>

		<h2>BeeLink in Everywhere!</h2>

        

        <ul>

          <li><strong>Reliable</strong>

			<ul>

			<li>BeeLink, Reliable</li>

			</ul>

		  </li>

          <li><strong>Grow your oppurtunity</strong>

		  	<ul>

			<li>Reliable is working very well.</li>

			</ul>

		  </li>

          <li><strong>Discover Employment Opportunities</strong>

		  	<ul>

			<li>Receive an alert each time..</li>

			</ul>

		  </li>

        </ul>

		<span class="center"><img src="static/logo.png" alt="example graphic" style="width:290px;height:120px" /></span>

      </div>

    </div>

    <div id="content_footer"></div>

    <div id="footer">

      <p><a href="home.html">Home</a> | <a href="#">About</a> | <a href="#">Sign Up</a> | <a href="#">ITU</a> | <a href="#">Contact Us</a></p>

      <p>Copyright &copy; BeeLink Application | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://itucsdb1608.mybluemix.net/">Design : BeeLink</a></p>

    </div>

  </div>

</body>

</html>


