<!DOCTYPE HTML>
<html>
<head>
  <title>Welcome to BeeLink Worldwide - Make the World Connect</title>
  <meta name="description" content="BeeLink Modem connection" />
  <meta name="keywords" content="BeeLink, modem, connection, company, BeeLink" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html"><span class="logo_colour">BeeLink</span></a></h1>
          <h2>Make the World Connect</h2>

        </div>

			<span class="right"><img src="style/logo1.png" alt="example graphic" style="width:500px;height:130px" /></span>

      </div>

      <div id="menubar">

        <ul id="menu">

          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->

          <li class="selected"><a href="index.html">Home</a></li>

          <li><a href="examples.html">About</a></li>

          <li><a href="page.html">Product</a></li>

          <li><a href="#">ITU</a></li>

          <li><a href="contact.html">Contact Us</a></li>

        </ul>

      </div>

    </div>

    <div id="content_header"></div>

    <div id="site_content">

      <div id="banner"></div>

	  <div id="sidebar_container">

        <div class="sidebar">

          <div class="sidebar_top"></div>

          <div class="sidebar_item">

            <!-- insert your sidebar items here -->

            <h3>Latest News</h3>

            <h4>New Website Launched</h4>

            <h5>Nov 11th, 2014</h5>

            <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>

          </div>

          <div class="sidebar_base"></div>

        </div>

        <div class="sidebar">

          <div class="sidebar_top"></div>

          <div class="sidebar_item">

            <h3>Useful Links</h3>

            <ul>

              <li><a href="http://www.itu.edu.tr/">Istanbul Technical University</a></li>

              <li><a href="http://www.tuncaydemrbas.com/">BeeLink</a></li>

              <li><a href="http://en.wikipedia.org/wiki/Modem">Modem History</a></li>

              <li><a href="#">BeeLink</a></li>

            </ul>

          </div>

          <div class="sidebar_base"></div>

        </div>

        <div class="sidebar">

          <div class="sidebar_top"></div>

          <div class="sidebar_item">

            <h3>A word..</h3>

              <p>

				<Q>Think.. It's what to do when you don't know what to do...</Q>

				<BR> - <strong>Albert Einstein</strong>

              </p>



          </div>

          <div class="sidebar_base"></div>

        </div>

      </div>

      <div id="content">

        <!-- insert the page content here -->

        <h1>Welcome to Cuntay Worldwide</h1>

        <p>Creating the network devices..</p>

        <p>More than 3 different electronical devices..</p>

		<p>Added many specific features..</p>

        <p>You can view more information about Modem <a href="http://en.wikipedia.org/wiki/Modem">here</a>.</p>

		<h2>Mission &amp; Vision</h2>

        <p>This company has been tested in the many areas:</p>

        <ul>

          <li><strong>Reliable</strong>

			<ul>

			<li>Every products have a 4 year guarantee.</li>

			</ul>

		  </li>

          <li><strong>High Quality</strong>

		  	<ul>

			<li>All parts of products are working very well.</li>

			</ul>

		  </li>

          <li><strong>Low Price</strong>

		  	<ul>

			<li>Selling less price than other company's products.</li>

			</ul>

		  </li>

        </ul>

		<span class="center"><img src="style/logo.png" alt="example graphic" style="width:290px;height:120px" /></span>

      </div>

    </div>

    <div id="content_footer"></div>

    <div id="footer">

      <p><a href="index.html">Home</a> | <a href="examples.html">About</a> | <a href="page.html">Product</a> | <a href="#">ITU</a> | <a href="contact.html">Contact Us</a></p>

      <p>Copyright &copy; BeeLink Company | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://itucsdb1608.mybluemix.net/">Design : BeeLink</a></p>

    </div>

  </div>

</body>

</html>

