{% extends "base.html" %}
{% block title %}İletişim{% endblock %}
				<!-- Main -->
{% block content %}
			<!-- Main -->
					<header>
						<h2>İletişim</h2>
						<p>Bize Ne Düşündüğünü Söyle</p>
					</header>
					<div class="box">
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)">
									<input type="text" name="name" id="name" value="" placeholder="Adınız">
								</div>
								<div class="6u 12u(mobilep)">
									<input type="email" name="email" id="email" value="" placeholder="Email Adresiniz">
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="subject" id="subject" value="" placeholder="Konu">
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<textarea name="message" id="message" placeholder="Mesajınızı Giriniz" rows="6"></textarea>
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-center">
										<li><input type="submit" value="Mesajı Gönder"></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
{% endblock %}