{% extends "base.html" %}
{% block title %}İletişim{% endblock %}

{% block content %}
	<div class="box">
				<form role="form" method="post" action="" name="update_user">
					<div class="12u">
							<input type="text" name="username" id="subject" value="" placeholder="New Username" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="name" id="subject" value="" placeholder="New Name" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="surname" id="subject" value="" placeholder="New Surname" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="email" id="subject" value="" placeholder="New E-mail" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="password" id="subject" value="" placeholder="New Password" required autofocus>
					</div>
					<ul class="actions align-center">
							<li><button type="submit">Update</li>
					</ul>
				</form>
	</div>
{% endblock %}