{% extends "base.html" %}
{% block title %}İletişim{% endblock %}

{% block content %}
	<a>If you update this user, enter the user name:</a>
	<div class="box">
				<form method="post" action="#">
					<div class="12u">
							<input type="text" name="username" id="subject" value="" placeholder="Username" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="name" id="subject" value="" placeholder="New Name" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="surname" id="subject" value="" placeholder="New Surname" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="email" id="subject" value="" placeholder="New E-mail" required autofocus>
					</div>
					<div class="12u">
							<input type="text" name="password" id="subject" value="" placeholder="New Password" required autofocus>
					</div>
					<ul class="actions align-center">
							<li><button type="submit" name="update" class="button medium-btn" value="update"></li>
					</ul>
				</form>
	</div>
{% endblock %}